{% extends "base.html" %}

{% block title %}Authors - ketman!{% endblock %}

{% block content %}
<div class="page">
    <h1 class="page-title">Authors</h1>
    
    <div class="authors-grid">
        {% for author in authors %}
        <div class="author-card" id="{{ author.nickname|lower }}">
            {% if author.avatar %}
            <div class="author-avatar">
                <img src="static/images/{{ author.avatar }}" alt="{{ author.nickname }}">
            </div>
            {% endif %}
            <h3 class="author-nickname">{{ author.nickname }}</h3>
            
            {% if author.socials %}
            <div class="author-socials">
                {% if author.socials.github %}
                <a href="{{ author.socials.github }}" target="_blank" rel="noopener noreferrer" class="social-link github">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                    </svg>
                </a>
                {% endif %}
                {% if author.socials.twitter %}
                <a href="{{ author.socials.twitter }}" target="_blank" rel="noopener noreferrer" class="social-link twitter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                    </svg>
                </a>
                {% endif %}
                {% if author.socials.linkedin %}
                <a href="{{ author.socials.linkedin }}" target="_blank" rel="noopener noreferrer" class="social-link linkedin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                        <rect x="2" y="9" width="4" height="12"></rect>
                        <circle cx="4" cy="4" r="2"></circle>
                    </svg>
                </a>
                {% endif %}
                {% if author.socials.medium %}
                <a href="{{ author.socials.medium }}" target="_blank" rel="noopener noreferrer" class="social-link medium">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M2.846 6.887c.03-.295-.083-.586-.303-.784l-2.24-2.7v-.403h6.958l5.378 11.795 4.728-11.795h6.633v.403l-1.916 1.837c-.165.126-.247.333-.213.538v13.498c-.034.204.048.411.213.537l1.871 1.837v.403h-9.412v-.403l1.939-1.882c.19-.19.19-.246.19-.537v-10.91l-5.389 13.688h-.728l-6.275-13.688v9.174c-.052.385.076.774.347 1.052l2.521 3.058v.404h-7.148v-.404l2.521-3.058c.27-.279.39-.67.325-1.052v-10.608z"></path>
                    </svg>
                </a>
                {% endif %}
            </div>
            {% endif %}

            <div class="author-bio">{{ author.bio }}</div>
            
            {% if author.articles %}
            <div class="author-articles">
                <h4 class="articles-heading">Articles by {{ author.nickname }}</h4>
                <ul class="articles-list">
                    {% for article in author.articles %}
                    <li class="article-item">
                        <a href="{{ article.url }}" class="article-link">
                            <span class="article-title">{{ article.title }}</span>
                            <span class="article-date">{{ article.date }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}